.App.dark {
  background-color: #000;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.dark-button {
  cursor: pointer;
}

.countries {
  width: 60%;
  margin: auto;
}

.country {
  margin-bottom: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
}

.flag {
  width: 47vw;
}
