.App.dark {
  background-color: #000;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.dark-button {
  cursor: pointer;
}

.main {
  margin: 0 2em;
}

.country-search {
  width: 100%;
  padding: 1em 0;
  margin-bottom: 1.5em;
  display: block;
}

.region-dropdown {
  padding: 1em 0;
  width: 40%;
}

.country,
.country-details {
  border-radius: 1.2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.info-container {
  padding: 2em;
}

.flag {
  width: 100%;
}
